#left_sidebar {
    position: fixed;
    top: 80px;
    width: 210px;
    height: 100%;
    display: flex;
    padding: 6px 0px;
    background-color: #323232;
  
    a {
      display: flex;
      color: #f5f5f5;
      align-items: center;
      text-decoration: none;
      transition: all 0.8s ease;
      border-radius: 12px;
    }
  
    span {
      min-width: 50px;
      line-height: 50px;
      text-align: center;
    }
  
    h2 {
      font-size: 22px;
      color: #f5f5f5;
      margin-left: 14px;
      font-family: 'Gloria Hallelujah';
    }
  }

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
    display: none;
}
